html {
    overflow: auto;
}
body {
    height : 500px;
}

#jce table + div.btn-group {
    position : absolute;
    right : 0;
    bottom : 0;
}

#jce div.container {
    height : 420px;
    overflow: auto;
}
